.ant-progress-inner {
  background-color: #828282 !important;
}

.currType{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.ant-input-affix-wrapper{
  width:30% !important;;
}

.ant-input-suffix{
  font-size: 10px;
}
.ant-input-affix-wrapper{
  background-color: transparent!important;
  border:none!important;
  color:white!important;
  border-bottom: 1px dashed #656565!important;
}
.ant-input{
  background-color: transparent!important;
  color:white!important;
}

.ant-table-thead > tr > th{
  background-color: transparent!important;
}
