.ant-progress-inner {
  background-color: #828282 !important;
}

.currType{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.ant-input-affix-wrapper{
  width:30% !important;;
}