.content {
  display: flex;
  flex-direction: column;
  color: white;
}

.content .title {
  text-align: left;
  color: #63D7C5;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 146%;
  text-transform: uppercase;
}

.input, .output {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.titleOutput {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 146%;
  /* identical to box height, or 15px */
  text-transform: uppercase;
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: #EB3468;
}

.output {
  /*border-top: 2px solid #403af4;*/
}

.infos {
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.block {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.item {
  display: flex;
  justify-content: space-around;
}

.btnGroup {
  background-color: #1E1D20!important;
  padding-bottom: 15px;
  border:1px white;
}

.btnGroup .view {
  width: 100%;
  background-color: #1E1D20!important;
  justify-content: space-between;
  display: flex;
  color:white;
  border:none!important;
}

.subOutput{
  height: auto!important;
}
.menuOutput{
  background-color: transparent!important;
}
.deposit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  align-self: flex-end;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10.5px;
  line-height: 146%;
  /* or 15px */
  text-align: center;
  text-transform: uppercase;
  width: 147px;
}

.deposit.disabled {
  background: #164385 !important;
}

.btn {
  color: #fff !important;
  background: #403af4 !important;
  border: 1px solid #403af4 !important;
  height: 40px !important;
}

.text {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 146%;
  /* identical to box height, or 29px */

  /* Debond Grey */
  color: #DFDFDF;
  line-height: 146%;
}

.currType {
  width: 100% !important;
  margin: 0 auto;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  text-align: center;
}

.lastName, .min, .max {
  /*text-align: ;*/
  display: flex !important;
  align-items: center;
  font-size: 16px;
  line-height: 1;
}

.lastName {
  margin-left: 10px;
}

.min, .max {
  text-align: right;
}

.min_wrap .inputAmount, .max_wrap .inputAmount {
  width: 100%;
  border: 1px solid #403af4 !important;
  background: #000 !important;
  color: #fff;
}

.min_wrap, .max_wrap {
  margin: 10px 0;
}

.slider_wrap {
  margin: .4rem 0;
}

.borrow {
  background: #403af4 !important;
  border-color: #403af4 !important;
  color: #fff !important;
  font-family: Arial-BoldMT, sans-serif;
  font-size: 16px;
  width: 2.60rem;
  margin: 0 auto;
  position: relative;
  display: block !important;
}

.borrow_flag {
  position: absolute;
  right: -.3rem;
}

.inTotal {
  width: 80%;
  margin: 0 auto;
  margin-bottom: .4rem;
  margin-top: -.3rem;
}

.inTotal_con {
  text-align: center;
}

.currentItem {
  /*width: 80%;*/
  /*margin:0 auto;*/
  /*border-top: 2px solid #403af4;*/
  margin-bottom: -20px;
}

.currentItem .con {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1400px) {
  .currType {
    width: 90% !important;
  }

  .infos {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 960px) {
  .item {
    padding: 5px;
    flex-direction: column;
    margin: 5px;
  }

  .currType {
    padding: 5px;
    width: 70% !important;
  }

  .currType .name {
    display: inline-block;
    margin-bottom: 10px;
  }

  .infos {
    font-size: 16px;
    line-height: 40px;
  }

  .currType .progress {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .currType {
    width: 90% !important;
  }

  .currType .progress {
    font-size: 20px;
  }

  .block {
    margin: 0;
  }

  .infos {
    width: 100%;
    font-size: 12px;
  }
}

.currType .progress{
  width: 20%;
}

.headerTitle {
  font-family: Inter!important;
  font-style: normal!important;
  font-weight: bold!important;
  font-size: 20px!important;
  /* identical to box height, or 29px */

  /* Debond Grey */
  color: #DFDFDF!important;
}
